<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.pressreader.remicare"
  version="1.0.0">
  <name>PressReader</name>
  <description>Pressreader library for remicare</description>
  <license>MIT</license>
  <keywords></keywords>

  <engines>
    <engine name="cordova" version=">=1.0.0"/>
  </engines>

  <js-module src="www/pressreader.js" name="PressReader">
    <clobbers target="window.plugins.pressreader" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="PressReader">
        <param name="ios-package" value="PressReader" />
      </feature>
    </config-file>
    
    <header-file src="src/ios/PRAppLaunchKit.h"/>
    <source-file src="src/ios/PRAppLaunchKit.m"/>
    
    <source-file src="src/ios/libPRAppLaunch.a" framework="true" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="PressReader_SDK.framework" />
    <!--<framework src="CoreTelephony.framework"/>-->
  </platform>

  <!-- android -->
  <!--<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Carrier">
        <param name="android-package " value="com.dtmtec.Carrier"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/dtmtec/Carrier.java" target-dir="src/com/dtmtec" />
  </platform>-->
</plugin>
