<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.pressreader.remicare"
  version="1.0.0">
  <name>PressReader</name>
  <description>Pressreader library for remicare</description>
  <license>MIT</license>
  <keywords></keywords>
  <keywords>Pressreader</keywords>
  <repo>https://github.com/marks10developer/com.pressreader.remicare.git</repo>
  <issue>https://github.com/marks10developer/com.pressreader.remicare/issues</issue>
  
  <engines>
    <engine name="cordova" version=">=1.0.0"/>
  </engines>

  <js-module src="www/pressreader.js" name="PRLaunchKit">
    <clobbers target="window.plugins.pressreader" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="PRLaunchKit">
        <param name="ios-package" value="PRLaunchKit" />
      </feature>
    </config-file>
    
    <header-file src="src/ios/PRLaunchKit.h"/>
    <source-file src="src/ios/PRLaunchKit.m"/>
    
    <source-file src="src/ios/libPRAppLaunchKit.a" framework="true" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="Carrier">
        <param name="android-package" value="com.pressreader.PRLaunchKit"/>
      </feature>
    </config-file>
    <source-file src="src/android/com/pressreader/PRLaunchKit.java" target-dir="src/com/pressreader" />
  </platform>
</plugin>
