<div class="scroller-wrapper g-opt">

	<div class="scroller" sc sc-get-next="getNext()" sc-get-prev="getPrevious()" sc-bottom-reached="recycleFirst()" sc-top-reached="recycleLast()" sc-block-on-edge="needsRecycle">

		<div class="scroller-info spinner" ng-hide="endContentPrevious || doubleSpinner"></div>
		<div class="scroller-info" ng-show="endContentPrevious">NO MORE CONTENT</div>

		<div class="entry" ng-repeat="entry in entries" sc-item="entry" sc-item-state="entry.state" pr-entry="entry" pr-art-basis="basis" pr-state="entry.state">
		</div>

		<div class="scroller-info spinner" ng-hide="endContentNext"></div>
		<div class="scroller-info" ng-show="endContentNext">NO MORE CONTENT</div>
	</div>

	<!-- Basis reference -->
	<div class="scroller ref-unit" id="__pb_ref__scroller" pr-smartflow-basis="basis" pr-basis-part="95">
		<div class="entry">
			<div class="art-wrapper">
				<div class="art-wrapper-in">
					<article class="art" id="__pb_ref__col">
						<div class="art-col">
							<div class="art-block" id="__pb_ref__block">
								<div class="art-text">
									<p id="__pb_ref__line">ABC</p>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

</div>


<script type="text/ng-template" id="entry.html">
	<!-- pr-entry directive templare -->
	<div class="art-wrapper"
		 ng-if="entry.meta.type == META_TYPE.ARTICLE_PREVIEW"
		 pr-feed-article="entry" pr-state="state" pr-art-basis="basis">
	</div>

	<div class="art-wrapper"
		 ng-if="entry.meta.type == META_TYPE.GROUP_HEADER">
		<div class="teaser">
			<header class="subsection-hd">
				<h2>{{entry.meta.name}}</h2>
			</header>
		</div>
	</div>

	<div class="art-wrapper" ng-if="entry.meta.type == META_TYPE.INIT_BLOCK">
		<div class="art-wrapper-in">
			Here is {{entry.meta.id}} of type {{entry.meta.type}}
		</div>
	</div>
</script>

<script type="text/ng-template" id="feedArticle.html">
	<!-- pr-feed-article directive templare -->
	<div class="art-wrapper-in s1c-wrapper sticker">
		<article class="art g-opt" ng-if="preview"
				 pr-art-preview="article"
				 pr-art-basis="artBasis"
				 pr-art-can-expand="canBeExpanded">

			<div class="readmore dis" ng-click="expand($event)" ng-show="canBeExpanded"></div>
		</article>

		<article class="art g-opt" ng-if="preview != true" ng-style="artStyle"
				 pr-art-full="article"
				 pr-art-basis="artBasis"
				 pr-layout-type="layoutType"
				 pr-column-amount="columnAmount"
				 pr-art-can-expand="canBeExpanded"
				 pr-slider="'.art-col'" pr-slider-disable="columnAmount <= 1">
			<div class="readmore dis" ng-click="expand($event)" ng-show="canBeExpanded"></div>
		</article>
	</div>
</script>

<script type="text/ng-template" id="articlePreview.html">
	<!-- pr-art-preview directive template -->
	<div class="art-col">
		<div class="art-block">
			<header class="art-title">
				<ul class="art-byline">
					<li class="art-source">
						<a href="javascript:void(0);" sp-bind-once="title.issueTitle"></a>
					</li>
					<li class="art-date">
						<a href="javascript:void(0);"><time datetime="{{title.issueDate}}" pubdate sp-bind-once="title.issueDate"></time></a>
					</li>
					<li class="art-similar" ng-if="title.similarsCount > 0">
						<a href="javascript:void(0);"><span title="" sp-bind-once="'+' + title.similarsCount + ' MORE'"></span></a>
					</li>
					<li class="art-page" sp-bind-once="title.pageName"></li>
					<li class="art-author" sp-bind-once="title.byline"></li>
					<li class="art-tools-call">
						<a href="javascript:void(0);"><em>Article tools</em></a>
					</li>
				</ul>
				<hgroup ui-sref="issues.pagesView({issue: title.issueId })" ng-click="$event.stopPropagation()">
					<h1 sp-bind-once="title.title"></h1>
					<h2 ng-if="title.subtitle" sp-bind-once="title.subtitle"></h2>
				</hgroup>
			</header>
		</div>
		<div class="art-block" ng-if="image">
			<figure class="art-pic">
				<a href="javascript:void(0);" ng-style="imageStyle">
					<img alt="" ng-src="{{image.src}}">
					<em sp-bind-once="image.byline"></em>
				</a>
				<figcaption ng-if="image.caption" sp-bind-once="image.caption"></figcaption>
			</figure>
		</div>
		<div class="art-block" ng-if="textBlock">
			<div class="art-text" ng-style="textBlockStyle">
				<p sp-bind-once="textBlock.text"></p>
			</div>
		</div>
	</div>
	<div ng-transclude></div>
</script>

<script type="text/ng-template" id="articlefull.html">
	<!-- pr-art-full directive template -->
	<div class="art-col" ng-repeat="column in columns" ng-style="column.size">
		<div class="art-block" ng-repeat="block in column.blocks" pr-art-block="block" pr-block-size></div>
	</div>
	<div ng-transclude></div>
</script>