<div class="scroller-wrapper g-opt" id="__scCont">
	<div class="scroller" id="__sc">
		<div class="entry" ng-repeat="entry in entries">
			<div class="art-wrapper">
				<div class="art-wrapper-in entry-stub" ng-style="entry.style">
					{{entry.id}}
					<br>
					{{basis}}
				</div>
			</div>
		</div>
	</div>
</div>


<!--<div class="scroller-wrapper g-opt" id="__scCont">
	<div class="scroller" id="__sc">
		<div class="entry" ng-repeat="entry in entries">
			<div class="art-wrapper">
				<div class="art-wrapper-in entry-stub" ng-style="entry.style">
					{{entry.id}}
					<br>
					{{basis}}
				</div>
			</div>
		</div>
	</div>
</div>-->

<!--<div class="scroller-wrapper g-opt" style="height: 1000px;">
	<div style="position: absolute; top: 100px;">
		<span>basis</span><br>
		<span>line: {{artBasis.line.width}} x {{artBasis.line.height}}</span><br>
		<span>blockMax: {{artBasis.blockMax.width}} x {{artBasis.blockMax.height}}</span><br>
		<span>column: {{artBasis.column.width}} x {{artBasis.column.height}}</span>
	</div>-->

	<!-- Basis reference -->
<!--	<div class="scroller ref-unit" id="__pb_ref__scroller" pr-smartflow-basis="artBasis" pr-basis-part="100">
		<div class="entry">
			<div class="art-wrapper">
				<div class="art-wrapper-in">
					<article class="art" id="__pb_ref__col">
						<div class="art-col">
							<div class="art-block" id="__pb_ref__block">
								<div class="art-text">
									<p id="__pb_ref__line">ABC</p>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

</div>-->