<div>
    <ul class="nav nav-pills nav-stacked">
        <li>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-change="ctrl.settingUpdated('tech')" ng-model="ctrl.settings.UserSettings.tech">
                    <span ui-sp-res="EmailAlerts.Technical"></span>
                </label>
            </div>

        </li>
        <li>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-change="ctrl.settingUpdated('promo')" ng-model="ctrl.settings.UserSettings.promo">
                    <span ui-sp-res="EmailAlerts.Promotional"></span>
                </label>
            </div>

        </li>

    </ul>

    <ul class="nav nav-pills nav-stacked">
        <!-- NOTE: track by monitor.id is important
                   without it angular falls with strange error
                   the reason it falls is: it is trying to add a property $$hashkey to the object
                   BUT monitor is frozen and browser engine prevents adding new properties -->
        <li ng-repeat="monitor in ctrl.myTopics.monitors track by monitor.id">
            <div class="list-group">
                <!--<a class="list-group-item" href="">-->
                <a class="list-group-item" href="" ui-sref="settings.emailAlert({monitorId: monitor.id})">
                    <h5 class="list-group-item-heading">{{monitor.searchTerm}}</h5>

                    <p class="list-group-item text">
                        Frequency:
                        <span>{{ctrl.myTopics.notificationFrequencies[monitor.frequencyHours].name}}</span>
                    </p>
                </a>
            </div>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="issueAlert in ctrl.issueAlerts track by issueAlert.cid">
            <pre>{{issueAlert|json}}</pre>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-change="issueAlert.$save()" ng-model="issueAlert.alertEnabled">
                    <span>{{issueAlert.title}}</span>
                </label>
            </div>

        </li>
    </ul>
</div>