<nav>
    <ul>
        <li ui-sref-active="active"><a href="#" ui-sref="smartflow" snap-close>Home</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="catalog" snap-close>Catalog</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="account" snap-close>Account</a></li>
    </ul>
    <h4>Settings</h4>
    <ul>
        <li ui-sref-active="active"><a href="#" ui-sref="settings.emailAlerts" snap-close>Email Alerts</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="settings.manageBookmarks" snap-close>Manage Bookmarks</a></li>
    </ul>
</nav>