.calendar {
	padding:10px;
	}
	.paper-intro .calendar {
		padding: 0;
		}

div.datepicker,
.datepicker table {
	height:300px;
	}
div.datepicker {
	display: none;
	}
.datepicker table {
	width:100%;
	margin:0;
	padding:0;
		1font-family: "Lucida Grande", Helvetica Neue, Arial, Helvetica, sans-serif;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size:18px;
	text-shadow:#fff 0 1px 0;
	border:none;
	border-collapse:collapse;
	}
	.paper-intro .datepicker table {
		text-shadow: none;
		}
.datepicker table td,
.datepicker table th {
	text-align: center;
	vertical-align:middle;
	padding: 0;
	margin: 0;
	}

.datepickerGoPrev,
.datepickerGoNext,
.datepickerDoW th,
.datepickerDays td {
	width:14.2857143%;
	}
.datepickerMonths td,
.datepickerYears td {
	width:25%;
	}

table.datepickerViewDays {
	table-layout: fixed;
	}
.datepickerMonth,
.datepickerGoPrev,
.datepickerGoNext {
	height:2.2em;
	line-height:2.2em;
	font-size:1.1em;
	}
	.datepickerMonth {
		width:71.4285714%;
		}
		.datepickerMonth a span {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			}
	.datepickerGoPrev a span,
	.datepickerGoNext a span {
		display: block;
		position: relative;
		overflow: hidden;
		text-indent:-999px;
		}
		.datepickerGoPrev a span:before,
		.datepickerGoNext a span:before {
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			font-family: "PR-UI-Icons";
			font-size: 24px;
			line-height: inherit;
			overflow:hidden;
			text-indent: 0;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			speak: none;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			}
			.datepickerGoPrev a span:before { content: "\e089"; }
			.datepickerGoNext a span:before { content: "\e08a"; }


.datepicker .datepickerDoW th {
		1height:1.6em;
		1line-height:1.6em;
	font-size:.8em;
	line-height:1.97em;
	font-weight: normal;
	color: #888;
	text-transform:uppercase;
	}

.datepicker a {
	display: block;
	position: relative;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	outline: none;
		1font-weight:bold;
	}
	.l-pageview .paper-intro .datepicker a {
		color: #eee;
		}

.datepickerDays td,
.datepickerMonths td,
.datepickerYears td {
	border:1px solid #d5d5d5;
	}
	.l-pageview .paper-intro .datepickerDays td,
	.l-pageview .paper-intro .datepickerMonths td,
	.l-pageview .paper-intro .datepickerYears td {
		border-color: #222;
		}
	.l-textview .paper-intro .datepickerDays td,
	.l-textview .paper-intro .datepickerMonths td,
	.l-textview .paper-intro .datepickerYears td {
		border-color: #eee;
			1border-color: transparent;
		}
	/*.datepickerDays td a,
	.datepickerMonths td a,
	.datepickerYears td a {
		border:1px solid;
		border-color:#fff #fff transparent transparent;
		}*/
		.datepickerDays td {
			line-height:1.97em;
			/*letter-spacing:-0.1em;*/
			}
	td.datepickerDisabled a {
		color: #888;
		}
		.l-pageview .paper-intro td.datepickerDisabled a {
			color: #555;
			}
	td.datepickerNotInMonth a,
	td.datepickerNotInMonth.datepickerDisabled a {
		color: #ccc;
		}
		.l-pageview .paper-intro td.datepickerNotInMonth a,
		.l-pageview .paper-intro td.datepickerNotInMonth.datepickerDisabled a {
			color: #333;
			}
	/*td.datepickerToday {
		background-color:rgba(0,0,0,.1);
		}*/
	td.datepickerPurchased a,
	.paper-intro td.datepickerPurchased a,
	.l-pageview .paper-intro td.datepickerPurchased a {
		color: #619f00;
		}
	/*td.datepickerSelected,
	td.datepickerNotInMonth.datepickerSelected {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpiaDzNwMTAwMD0/z+Q/g+hYZjhHxL/Hxbxf0jiaGL/sIghqyNo9n9UN0HdCBBgAHnTTUfnAkzCAAAAAElFTkSuQmCC);
		background-image: -moz-linear-gradient(top, rgb(129, 203, 0) 0%, rgb(93, 147, 0) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(129, 203, 0)), color-stop(100%,rgb(93, 147, 0)));
		}*/
		td.datepickerSelected a,
		.paper-intro td.datepickerSelected a,
		td.datepickerNotInMonth.datepickerSelected a {
			color:#fff;
			text-shadow:rgba(0,0,0,0.3) 0 -1px 0;
			/*border-color: rgba(0,0,0,.1);*/
			background-color: #63a70a;
			}
		/*td.datepickerToday a {
			border-color: rgba(0,0,0,.4);
			-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.5);
			-moz-box-shadow: inset 0 0 4px rgba(0,0,0,.5);
			box-shadow: inset 0 0 4px rgba(0,0,0,.5);
			}*/
		td.datepickerToday a:before {
			content:"";
			position: absolute;
			top:-1px;
			right:-1px;
			bottom:-1px;
			left:-1px;
			border: 3px solid #619f00;
			}

/*tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}*/
div.datepicker a:hover,
div.datepicker a:hover {
	/*color: #88c5eb;*/
}
div.datepicker td.datepickerNotInMonth a:hover {
	/*color: #999;*/
}
.datepickerSpace div {
		1width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
/*td.datepickerDisabled a:hover {
	color: #333;
}*/
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}



.datepickerHidden {
	display: none;
	}

/*.datepicker table table td,
.datepicker table table th {
	border:1px solid red;
	}*/