
.flowcssHeader
{
    padding: 12px;
}

.flowdst1
{
    float: left;
}

.flowcss2
{
    position:relative;
    float: left;
    float: top;
    padding: 12px;
    text-align:justify;
}

.rtlflow
{
    float: right;
}




#loading 
{
    width:66px;
    height:66px;
    position:absolute;
    z-index:10000;
    background:#555 url(images/i-loading-alert.gif) no-repeat center center;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    -moz-opacity:0.85;
    opacity:0.85;
    top:45%;
    left:45%;
}


span
{
    #color:red;
}


