article.art {
    font-family: serif;
    }
    .fontset1 article.art,
    .pop .fontset1 {
        font-family: serif;
        }
    .fontset2 article.art,
    .pop .fontset2 {
        font-family: sans-serif;
        }
    .fontset3 article.art,
    .pop .fontset3 {
        font-family: serif;
        }
    .fontset4 article.art,
    .pop .fontset4 {
        font-family: serif;
        }

.fontset1 .art h1,
.fontset1 .art h3 {
    font-family: serif;
    }
.fontset2 .art h1,
.fontset2 .art h3 {
    font-family: sans-serif;
    }
.fontset3 .art h1,
.fontset3 .art h3 {
    font-family: serif;
    }
.fontset4 .art h1,
.fontset4 .art h3 {
    font-family: serif;
    }